* {
    box-sizing: border-box;
}
body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
#randomize {
    position: absolute;
    padding: 0;
    margin-left: calc(100% - 4.5rem);
    top: 1.5rem;
    background-color: #333;
    font-size: 1.5rem;
    text-align: center;
    color: #eee;
    border: none;
    border-radius: 3px;
    user-select: none;
    width: 3rem;
    height: 3rem;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    outline: none;
    opacity: 0.75;
    transition: transform 0.5s, background-color 0.25s;
}
#randomize:active {
    transform: scale(1.25);
    background-color: #aaa;
}
#canvas {
    width: 100vw;
    background-color: #000;
    overflow: hidden;
}